<footer class="footer-down">
  <div class="container">
    <p class="footer__down-copy">Theme <span>BESTWEBSOFT</span>. © 2015 All
      Rights Reserved</p>
    <div class="footer__down-socials">
      <p class="footer__down-socials__text">Follow us</p>
      <ul class="footer__down-socials__list">
        <li class="footer__down-socials__item">
          <a class="footer__down-socials__item-link" href="#"><i
            class="fa fa-facebook-square" aria-hidden="true"></i></a>
        </li>
        <li class="footer__down-socials__item">
          <a class="footer__down-socials__item-link" href="#"><i
            class="fa fa-twitter-square" aria-hidden="true"></i></a>
        </li>
        <li class="footer__down-socials__item">
          <a class="footer__down-socials__item-link" href="#"><i
            class="fa fa-pinterest-square" aria-hidden="true"></i></a>
        </li>
        <li class="footer__down-socials__item">
          <a class="footer__down-socials__item-link" href="#"><i
            class="fa fa-instagram" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
