<section class="footer">
  <div class="container">
    <div class="footer__subscribe">
      <input class="footer__subscribe-input" type="text"
             placeholder="type your email">
      <a class="footer__subscribe-news" href="#">
        subscribe our news
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
    </div>
    <div class="footer__info">
      <a class="footer__logo" href="http://localhost:3000/">
        <img class="footer__logo-img" crossorigin=""
             src="assets/img/logo-footer.png" alt="">
      </a>
      <nav>
        <ul class="footer__list">
          <li class="footer__item">
            <a class="footer__item-link" href="/">Home</a>
          </li>
          <li class="footer__item">
            <a class="footer__item-link" href="/bike-activity-select.html">Bikes</a>
          </li>
          <li class="footer__item">
            <a class="footer__item-link" href="/tour-select.html">Tours</a>
          </li>
          <li class="footer__item">
            <a class="footer__item-link" href="#">Pages</a>
          </li>
          <li class="footer__item">
            <a class="footer__item-link" href="#">About us</a>
          </li>
          <li class="footer__item">
            <a class="footer__item-link" href="#">Blog</a>
          </li>
          <li class="footer__item">
            <a class="footer__item-link" href="#">Shortcodes</a>
          </li>
        </ul>
      </nav>
    </div>
    <ul class="footer__contacts-list">
      <li class="footer__contacts-item bg1">
        <a href="#">202-555-0154</a>
      </li>
      <li class="footer__contacts-item bg2">
        <a href="#">mail@rentabike.com</a>
      </li>
      <li class="footer__contacts-item bg3">
        <a href="#">rentabike.skype</a>
      </li>
      <li class="footer__contacts-item bg4">
        <a href="#">3 Abbey Rd, London, UK</a>
      </li>
    </ul>
  </div>
</section>
