@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url("https://use.typekit.net/zwr6rbh.css");
//font-family: 'Lato', sans-serif;


// 400
@font-face {
  font-family: 'norwester';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/norwester.otf') format('opentype');
}
