.bikes {
  background: #cbced2;

  .container {
    .bikes__info-inner {
      margin-top: 120px;
      display: flex;
      justify-content: space-between;

      .bikes__info-title {
        color: $blue;
      }

      .bikes__info-btn {
        margin-top: 4px;
      }
    }
    .bikes__list{

     .bikes__list-item{
       display: inline-block;
       width: 285px;
       .bikes__list-wrapper{
         .services-inner{
           background: $blue;
           p{
             font-size: 15px;
             padding-top: 20px;
           }
           .services-items{
             margin-top: 210px;
             margin-bottom: 21px;
             display: flex;
             .services-item{
               display: inline-block;
               margin-right: 25px;
             }
           }
           .services-title{
             line-height: 86px;
             background-color: $light-blue;
             position: relative;
             &::after{
               content: url("../img/buttons/l-blue2.png");
               position: absolute;
               top: -53px ;
               right: 0;
             }
           }
         }
       }
     }
    }
  }
}
