.title {
  margin: 90px 0;

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__title {

    span {
      color: $green;
    }
  }

  &__price {
    font-size: 60px;
    color: $green;
  }
}
