.events {
  background: #acb6bf;
  padding: 120px 0 130px;

  .wrapper {
    display: flex;
    justify-content: space-between;

    .events__title {
      color: $blue;
    }

    .arrow {
      margin-top: 7px;
    }
  }

  .events__items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;

    .events__item {
      display: flex;
      min-width: 50%;
      //position: relative;     ваще чет не ебу как сделать эти квадраты(((
      //
      //&::after {
      //  content: "12 AUG";
      //  position: absolute;
      //  right: 50%;
      //}

      &.right {
        flex-direction: row-reverse;
      }

      &-inner {;
        width: 100%;
        background-color: $light-blue;
        position: relative;

        &::after {
          content: url("../img/buttons/l-blue3.png");
          position: absolute;
          bottom: 0;
          right: 0;
          height: 25px;
        }

        .events__item-title {
          width: 280px;
          padding-top: 25px;
          padding-left: 15px;
        }

        .events__item-lead {
          margin-top: 40px;
          width: 250px;
          padding-left: 15px;
          font-family: Lato, sans-serif;
          font-weight: 500;
          font-size: 16px;
        }
      }
    }
  }
}
