.header {
  border-bottom: 2px solid #3d3e35;

  .container {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .search-menu {
      display: flex;
      font-size: 20px;

      &__menu {
        margin-right: 50px;
        transition: color 0.3 ease-in-out;

        &:hover {
          color: $green;
        }
      }

      &__search {
        transition: color 0.3 ease-in-out;

        &:hover {
          color: $green;
        }
      }
    }

    .logo {
      margin-left: 80px;

      &-link {
        color: $white;
      }
    }

    .account {
      display: flex;

      &-user {
        margin-right: 50px;

      }

      &-lang {
        margin-right: 45px;
      }

      &-cart {
        margin-right: 11px;
      }
    }

  }
}
