@import "colors.scss";
@import "fonts.scss";
@import "variables";
@import "buttons";


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background: url("../img/bg/header-bg.jpg") center top no-repeat;
  background-size: cover;
  font-family: norwester;
  color: $white;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: $white;
}
h2{
  text-transform: uppercase;
  font-size: 70px;
  line-height: 70px;
}


@import "header";
@import "header-content";
