@import "colors.scss";
@import "fonts.scss";
@import "variables";
@import "buttons";


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background: $light-blue;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: $black;
}



@import "header";
